<div class='container'>
  <div class='col-10 px-0 mt-3'>
    <div class='row no-gutters'>
      <div class='col-2 pr-2'></div>
      <div class='col-7 pl-2'>
        <%= render partial: 'layouts/createpost' %>
        <%= render partial: 'layouts/showposts' %>
      </div>
      <div class='col-3'></div>
    </div>
  </div>
</div>