<div class='container'>
  <div class='col-10 px-0'>
    <div class="card text-center cover-section">
      <div class="card-body">
        <h1 class="card-title display-1 py-5">Cover Picture</h5>
      </div>
      <div class="card-footer text-muted bg-white py-0">
        <ul class='nav justify-content-end'>
          <li class='nav-item border-left'><a href='/' class='nav-link'>Timeline</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>About</a></li>
          <li class='nav-item border-left'><a href='/users/index' class='nav-link'>Friends</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Photos</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'><span class='px-2'><%= fa_icon "lock" %></span>Archive</a></li>
          <li class='nav-item border-left border-right mr-5'><a href='#' class='nav-link'>More</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-10 px-0 mt-3'>
    <div class='row no-gutters'>
      <div class='col-4 pr-2'></div>
      <div class='col-8 pl-2'>
        <%= render partial: 'layouts/createpost' %>
        <%= render partial: 'layouts/showposts' %>
      </div>
    </div>
  </div>
</div>